<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fzq.musicplayer">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".test.TestActivity1"/>
        <activity android:name=".test.TestActivity2"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.leftmenu.UserInfoActivity"/>
        <activity android:name=".ui.leftmenu.UserLevelActivity"/>
        <activity android:name=".ui.leftmenu.XiaoXiZhongXinActitity"/>
        <activity android:name=".ui.leftmenu.PiFuZhongXinActivity"/>
        <activity android:name=".ui.leftmenu.HuiYuanZhongXinActivity"/>
        <activity android:name=".ui.leftmenu.DingShiGuanBiActivity"/>
        <activity android:name=".ui.leftmenu.KuiSheYinXiaoActivity"/>
        <activity android:name=".ui.leftmenu.YinYueGongJuActivity"/>
        <activity android:name=".ui.leftmenu.SettingActivity"/>
        <activity android:name=".ui.topfrags.LocalMusicActivity"/>


    </application>


</manifest>